<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HBNstaskDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FBB744A1C0E903E00A49577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FBB745B1C0E903F00A49577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FBB74661C0E903F00A49577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
